{% extends "logged_out.html" %}

{% block title %}
    About MM
{% endblock %}

{% block main %}
    <div>
        <h1>About Money Manager</h1>
        <div class="description">
            <p>Hi there! My name is <a id="a-linked" target="_blank" href="https://www.linkedin.com/in/yagopajarino/">Yago Pajariño</a>, Money Manager (MM) creator.</p>
            <p>MM first Hello World came as part of CS50x final project, in early 2021. 
                The goal of it was to put in practice all the tools and knowledge adquired during the course: HTML, CSS, JavaScript and SQL. </p>
            <p>Plus I wanted to create a web app that could help me trancking my incomes and payments. 
                If you do an excel for tracking those you may know what it takes to be remembering all the transactions you do before sitting down and submiting them.</p>
            <p>So that gave birth to MM. The following months after presenting it to CS50 where all about testing, creating the app with Heroku and conecting it with the PostgreSQL add-on.</p>
            <p>Today (August 4th 2021) I can say MM is working as I first imagined. After creating your account, you can start adding your incomes and payments and see your account balance in the home view.</p>
            <p>I will be looking forward to add some other features as payment analysis or the classic forgot my password button.</p>
            <h3>Cheers!</h3>
        </div>
    </div>

{% endblock %}